{% extends 'qa/base.html' %}
{% block title %}TopPage{% endblock %}

{% block content %}
<h1>一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>日付</th>
    </tr>
  </thead>
  <tbody>
    {% for day in day_list %}
    <tr>
      <td><a href="{% url 'qa:detail' day.pk %}">{{ day.title }}</a></td>
      <td>{{ day.date }}</td>
      <td><a href="{% url 'qa:update' day.pk %}">更新</a></td>
      <td><a href="{% url 'qa:delete' day.pk %}">削除</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
